body { 
    background-color: white;
    display: none;
}

.heads {
    margin-top: 0px;
    font-family: Segoe UI, Arial, sans-serif;
    color: #168dd9;
}

.text-center{
    text-align: center;
}

.margin-auto {
    margin: auto;
}

#save,#load
{
    width: 313px;
    height: 50px;
    margin-top: 10px;
}


#text-input{
    width: 295px;
    padding:10px;
    resize: none;
    margin-left: 2px
}

#directory-path{
    width: 100%;
    max-width: 313px;
}

#directory-path::-webkit-file-upload-button{
    padding-top: 4px ;
    border: none;
    background: transparent;
    font-weight: bold;
}

#tree{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 313px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
}


.ui-button-text-only .ui-button-text{
    padding: 0px
}


